{% set numPageMarginLeft = 420 %}

{% if numPage < 10 %} 
    {% set numPage = '00'~numPage%}
{% else %}
    {% set numPage = '0'~numPage%}
{% endif %}

{% if oPortefeuille.nbPage|length < 2 %} 
    {% set nbPage = '00'~oPortefeuille.nbPage%}
{% elseif oPortefeuille.nbPage|length < 3 %}
    {% set nbPage = '0'~oPortefeuille.nbPage%}
{% else %}
    {% set nbPage = oPortefeuille.nbPage%}
{% endif %}

<div text-align="right" margin-top="46px">
    Page {{numPage}} sur {{nbPage}} 
</div>