{% set codeRupture = 1 %}
{% set codeAlim = 8 %}

<pdf>
    {% for idClient, foyer in tab_releve_global %}
        <dynamic-page document-template="{{template_let}}" margin="0" font-size="10">
            <img src="{{ pdf_image('EditiqueReleveBundle:OMR/Code' ~ codeAlim ~'.jpg') }}" width="15mm" margin-left="1mm" margin-top="8mm"/>
            <div margin-top="-183px">
                {% include 'EditiqueFiscalBundle:Default:lettre.html.twig' %}
            </div>
        </dynamic-page>

        {% if codeRupture == 7 %}
            {% set codeRupture = 1 %}
        {% else %}
            {% set codeRupture = codeRupture + 1 %}
        {% endif %}

        {% if codeAlim == 14 %}
            {% set codeAlim = 8 %}
        {% else %}
            {% set codeAlim = codeAlim + 1 %}
        {% endif %}

        <dynamic-page document-template="{{template}}" margin="0" font-size="7">
            <img src="{{ pdf_image('EditiqueReleveBundle:OMR/Code' ~ codeRupture ~'.jpg') }}" width="15mm" margin-left="1mm" margin-top="8mm"/>
            <div margin-top="-183px">
                {% include 'EditiqueFiscalBundle:Default:content.html.twig' %}
            </div>
        </dynamic-page>

        {% if codeRupture == 7 %}
            {% set codeRupture = 1 %}
        {% else %}
            {% set codeRupture = codeRupture + 1 %}
        {% endif %}

        {% if codeAlim == 14 %}
            {% set codeAlim = 8 %}
        {% else %}
            {% set codeAlim = codeAlim + 1 %}
        {% endif %}
    {% endfor %}
</pdf>