{% extends 'BackOfficeCustomerBundle::layout.html.twig' %}

{% block title %}{{parent()}} - Utilisateurs {% endblock %}

{% block content %}
<h1 style="text-align: center;" class="text-info">Bienvenue dans le module d'intégration des clients externes</h1>
{% endblock %}
