<div style="float:right;margin:0px 10px">
    <a href="{{ asset('bundles/odod/doc/Utilisation du module OD.pdf') }}" target="_blank">
        <img src="{{ asset('bundles/frontofficemain/images/help.png') }}" alt="Guide utilisateur" title="Guide utilisateur">
    </a>
</div>