<div class="modal fade" id="raccourciModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Rappels des raccourcis - Opérations diverses</h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed table-striped table-hover" style="width:90%;margin:auto;">
                    <thead>
                        <tr>
                            <th style="width:45%;">Raccourci</th>
                            <th style="width:65%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><kbd>Ctrl</kbd> + <kbd>&uarr;</kbd></td>
                            <td>Ajouter une nouvelle ligne, au dessus de la ligne courante</td>
                        </tr>
                        <tr>
                            <td><kbd>Ctrl</kbd> + <kbd>&darr;</kbd></td>
                            <td>Ajouter une nouvelle ligne, en dessous de la ligne courante</td>
                        </tr>
                        <tr>
                            <td><kbd>Ctrl</kbd> + <kbd>SPACE</kbd></td>
                            <td>Ajouter une nouvelle ligne, en dupliquant son contenu</td>
                        </tr>
                        <tr>
                            <td><kbd>Ctrl</kbd> + <kbd>Inser</kbd></td>
                            <td>Dupliquer le libellé courant sur tous les champs vides</td>
                        </tr>
                        <tr>
                            <td><kbd>Ctrl</kbd> + <kbd>SHIFT</kbd></td>
                            <td>Dupliquer la valeur du dessus</td>
                        </tr>
                        <tr>
                            <td><kbd>Ctrl</kbd> + <kbd>Suppr</kbd></td>
                            <td>Supprimer la ligne entière</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>