<div class="tab-pane fade" id="tools">
    <h3 class="head text-center">Mes documents</h3>
    
    <div class="list-links">
        <div class="col-md-6">
            <a href="{{ path('editique_releves_firme_search') }}">
                <div class="blockquote-box blockquote-danger clearfix">
                    <div class="square pull-left">
                        <span class="glyphicon glyphicon-inbox glyphicon-lg"></span>
                    </div>
                    <h4>Documents</h4>
                    <p>
                        Accédez et téléchargez les documents PDF mis à votre disposition.
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>