<div class="tab-pane fade" id="sabcore">
    <h3 class="head text-center">Accès SabCore</h3>
    <p class="narrow text-center">
        Le module SabCore de BFI vous permet d'accéder aux fichiers de logs des serveurs SabCore, à la demande.
    </p>

    <div class="list-links">
        <div class="col-md-6">
            <a href="{{ path('back_office_sab_logs') }}">
                <div class="blockquote-box blockquote-success clearfix">
                    <div class="square pull-left">
                        <span class="glyphicon glyphicon-th-list glyphicon-lg"></span>
                    </div>
                    <h4>Accès aux logs</h4>
                    <p>
                        Récupérez, téléchargez et gérez les logs des serveurs SabCore en instantanné.
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>