<div class="tab-pane fade" id="tools">
    <h3 class="head text-center">Outils de développement</h3>
    <p class="narrow text-center">
        Les outils présents dans cette partie, permettent aux développeurs d'avoir une palette importante à leur disposition.
    </p>
    
    <div class="list-links">
        <div class="col-md-6">
            <a href="http://lxlyocvs12:9292/root/bfi/" target="_blank">
                <div class="blockquote-box blockquote-danger clearfix">
                    <div class="square pull-left">
                        <span class="glyphicon glyphicon-floppy-save glyphicon-lg"></span>
                    </div>
                    <h4>Gitlab</h4>
                    <p>
                        Accès au serveur Gitlab, système de versionning des sources du projet.
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="/PhpProjectAnalyzer/index.php" target="_blank">
                <div class="blockquote-box blockquote-danger clearfix">
                    <div class="square pull-left">
                        <span class="glyphicon glyphicon-eye-open glyphicon-lg"></span>
                    </div>
                    <h4>Project Analyser</h4>
                    <p>
                        Analysez rapidement et facilement les sources du projet (lisibilité, quantité, adaptabilité, cohérence, intégrité...).
                    </p>
                </div>
            </a>
        </div>
        
        <div class="col-md-6">
            <a href="{{ path('back_office_monitoring_logs_symfony') }}">
                <div class="blockquote-box blockquote-danger clearfix">
                    <div class="square pull-left">
                        <span class="glyphicon glyphicon-send glyphicon-lg"></span>
                    </div>
                    <h4>Logs Symfony</h4>
                    <p>
                        Téléchargez rapidement les logs Symfony pour analyser une anomalie ou un comportement.
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="{{ path('back_office_monitoring_unversioned_files') }}">
                <div class="blockquote-box blockquote-danger clearfix">
                    <div class="square pull-left">
                        <span class="glyphicon glyphicon-eye-close glyphicon-lg"></span>
                    </div>
                    <h4>Fichiers non versionnés</h4>
                    <p>
                        Téléchargez rapidement les fichiers de scripting (.sh) non versionnés.
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>