<table margin-top="105" width="100%">
    {% set numLg = 68 %}
    
    {% for i,lg in oPortefeuille.valeurs|slice(sliceValues['start'], sliceValues['length']) %}
        {% include 'EditiqueTitreBundle:portefeuille_pdf:tabValeurs.pdf.twig' %}
    
        {% if lg is defined %}
            {% set numLg = numLg - max(lg['CATEGORIE']|length, lg['LIB']|length) %}
        {% endif %}
    
        {% if colorLineOpe == '#F8E9EB' %}
            {% set colorLineOpe = 'white'%}
        {% else %}
            {% set colorLineOpe = '#F8E9EB'%}
        {% endif %}
    {% endfor %}
    
    {% for i in 1..numLg %}
        {% include 'EditiqueTitreBundle:portefeuille_pdf:tabValeurs.pdf.twig' %}
    
        {% if colorLineOpe == '#F8E9EB' %}
            {% set colorLineOpe = 'white'%}
        {% else %}
            {% set colorLineOpe = '#F8E9EB'%}
        {% endif %}
    {% endfor %}
</table>