{% extends "BackOfficeUserBundle::layout.html.twig" %}

{% block content %}
    <p>
        Un e-mail a été envoyé à l'adresse {{ email }}. Il contient un lien sur lequel il vous faudra cliquer afin de réinitialiser votre mot de passe.
    </p>
{% endblock %}
