<p>Bonjour {{ username }},</p>
<p>
    Une demande de ré-initialisation du mot de passe, pour votre compte application a été reçue.<br/>
    Pour ré-initialiser votre mot de passe, merci de vous rendre à cette adresse :<br/>
    <a href="{{ confirmationUrl }}">Accès à la page de ré-initialisation du mot de passe</a>
</p>
<p>
    Si vous n'êtes pas à l'origine de cette demande, ignorez simplement ce message.
</p>