{% extends "BackOfficeUserBundle::layout.html.twig" %}

{% block content %}
    <p>
        Un nouveau mot de passe a déjà été demandé pour cet utilisateur dans les dernières 24 heures.
    </p>
{% endblock content %}
