{% extends 'BackOfficeUserBundle::layout.html.twig' %}

{% block title %}BFI - Connexion{% endblock %}
        
{% block content -%}
<div style="width:70%;margin:0 auto 30px;border:1px solid #DDD;padding:10px;">
    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="username" class="col-sm-3 control-label">Nom d'utilisateur :</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="username" name="_username" placeholder="Nom d'utilisateur" required="required" />
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Mot de passe :</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe" required="required" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" /> Se souvenir de moi
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <input type="submit" id="_submit" name="_submit" value="Connexion" class="btn btn-success" />
            </div>
        </div>
    </form>
</div>
{% endblock %}
