{% extends 'EditiqueMasterBundle::layout_test.html.twig' %}

{% block content %}
    <div style="margin:20px">
        <div class="page-header">
            <h1>Interface de test Editique Lettres d'accompagnement</h1>
        </div>

        <div class="well" style="width:50%; display: inline-block">
            <form action="." method="post" class="form-horizontal">
                <label for="file">Cas de test</label>
                <select name="file" id="file" class="form-control">
                    <option value="456456">Erreur</option>
                    <option value="CHQ">Lettre Chéquier</option>
                </select>

                <br/>
                <button class="btn btn-primary">Go </button>
            </form>
        </div>
    </div>
{% endblock %}
