<p>
    La récupération des taux interbancaires vient d'être lancée. En revanche, le calcul "Marge + Taux" est négatif pour la date du {{ date }} avec un taux récupéré à {{ taux }}%.<br/>
    <b>Une intervention dans la journée est impérative !</b>
</p>