<div style="float:right;margin:0px 11px">
    <a href="{{ asset('bundles/editiquemaster/doc/UtilisationEditique.pdf') }}" target="_blank">
        <img src="{{ asset('bundles/frontofficemain/images/help.png') }}" alt="Guide utilisateur" title="Guide utilisateur">
    </a>
</div>