{% extends 'EditiqueMasterBundle::layout_test.html.twig' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('front_office_main_homepage') }}">Accueil</a></li>
        <li class="active">Module Editique - Test</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Interface de tests éditiques</h1>
    </div>
{% endblock %}