<p>
    Bonjour,
</p>
<p>
    Un relevé de plus de 4 feuilles a été généré.<br/>
    Il ne peut être envoyé automatiquement, veuillez le traiter manuellement.<br/>
    <br/>
    <b>Nom du fichier</b> : {{ fileName }}<br/>
</p>

<p>
L'équipe Fiducial Banque
</p>