<p>
    Un libellé de compte vient d'être ajouté/modifié dans les paramètres SAB en environnement de {{ environment }}.
</p>
<p>
    Le libellé utilisé est le suivant : {{ libelle }} (id : {{ id }}).
</p>