<div id="transverse_partenairebundle_parametrage_tags___name__">
    <div class="entry input-group">
         {{ form_widget(form.mailTag, {'attr': {'class': 'form-control', 'placeholder':'__name__label__'}}) }}
        <span class="input-group-btn">
            <button class="btn btn-success btn-add" id="button__name__" type="button">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>
    </div>       
</div>




